<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>农作物</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../plugins/element-ui/index.css"/>
    <link rel="stylesheet" href="../../styles/common.css"/>
    <link rel="stylesheet" href="../../styles/page.css"/>
</head>
<body>
<div class="dashboard-container" id="FacilitiesConfig-app">
    <div class="container">
        <div class="tableBar">


            <span>
            <el-select v-model="classData.facilitiesId"
                       placeholder="请选择所属大棚"
                       @click.native="selectFacilitiesFun()"
                       style="width: 250px;float: left"
            >

                <el-option
                        v-for="item in facilitiesOptions"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"

                        @click.native="handleQuery"
                >
                </el-option>
            </el-select>




                 <el-input
                         v-model="input"
                         placeholder="请输入农作物名称"
                         style="width: 250px;float: left"
                         clearable
                         @keyup.enter.native="handleQuery"
                 >
                <i
                        slot="prefix"
                        class="el-input__icon el-icon-search"
                        style="cursor: pointer"
                        @click="init"
                ></i>

            </el-input>


                 <el-button   @click="clearQuery">清空查询条件</el-button>
            </span>













            <div class="tableLab">
                <el-button  type="primary" class="continue" @click="addClass('class')"> + 新增农作物 </el-button>
            </div>


        </div>
        <el-table  :data="tableData"  stripe  class="tableBox" >

            <el-table-column  prop="facilitiesName" label="大棚名称"  /></el-table-column>
            <el-table-column  prop="name" label="农作业名称"  /></el-table-column>
            <el-table-column  prop="yield" label="产量"  /></el-table-column>
            <el-table-column  prop="area" label="种植面积"  /></el-table-column>
            <el-table-column  prop="createTime" label="创建时间"  /></el-table-column>

            <el-table-column label="操作" width="160" align="center">
                <template slot-scope="scope">
                    <el-button type="text" size="small" class="blueBug" @click="editHandle(scope.row)">修改</el-button>
                    <el-button type="text" size="small" class="delBut non" @click="deleteHandle(scope.row.id)">停用</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                class="pageList"
                :page-sizes="[5, 10, 15, 20]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="counts"
                @size-change="handleSizeChange"
                :current-page.sync="page"
                @current-change="handleCurrentChange"
        ></el-pagination>
    </div>
    <el-dialog :title="classData.title" :visible.sync="classData.dialogVisible" width="30%" :before-close="handleClose">
        <el-form class="demo-form-inline" label-width="100px">


            <el-form-item label="所属大棚：">
                <el-select v-model="classData.facilitiesId" placeholder="请选择所属大棚"
                           @click.native="selectFacilitiesFun()" >

                    <el-option
                            v-for="item in facilitiesOptions"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"
                            @click.native="getFacilitiesOptionsValue(item.label)"
                    >
                    </el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="农作物名字：">
                <el-input v-model="classData.name" placeholder="请输入农作物名字" />
            </el-form-item>

            <el-form-item label="产量：">
                <el-input v-model="classData.yield" placeholder="请输入产量" />
            </el-form-item>

            <el-form-item label="种植面积：">
                <el-input v-model="classData.area" placeholder="请输入种植面积" />
            </el-form-item>






        </el-form>
        <span slot="footer" class="dialog-footer">
        <el-button size="medium" @click="classData.dialogVisible = false">取 消</el-button>
        <el-button type="primary" size="medium" @click="submitForm()">确 定</el-button>
        <el-button
                v-if="action != 'edit'"
                type="primary"
                size="medium"
                class="continue"
                @click="submitForm('go')"
        > 保存并继续添加 </el-button>
      </span>
    </el-dialog>
</div>
<script src="../../plugins/vue/vue.js"></script>
<script src="../../plugins/element-ui/index.js"></script>
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../js/request.js"></script>
<script src="../../api/sysRole.js"></script>
<script src="../../api/crop.js"></script>
<script src="../../api/facilities.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#FacilitiesConfig-app',
        data() {
            return {
                action: '',
                tableData: [],
                type: '',
                classData: {
                    'title': '添加农作物',
                    'dialogVisible': false,
                    'id':'',
                    'facilitiesId':'',
                    'facilitiesName':'',
                    'name':'',
                    'yield':'',
                    'area':''
                },
                facilitiesOptions:[],
                companyNameList: [],
                companyNameList2: [],
                page: 1,
                pageSize: 5,
                counts:0,
                input:''
            }
        },
        methods: {
            async init() {
                const params = {
                    page: this.page,//当前页码
                    pageSize: this.pageSize,//每页大小
                    name: this.input ? this.input : undefined,//企业名称
                    facilitiesId: this.classData.facilitiesId ?this.classData.facilitiesId :undefined //设施id->大棚id
                };
                await getCropPage(params).then(res => {
                    console.log(res.data.records)
                    if (String(res.code) === '1') {
                        this.tableData = res.data.records;
                        this.counts = res.data.total;
                    } else {
                        this.$message.error(res.msg || '操作失败')
                    }
                }).catch(err => {
                    this.$message.error('请求出错了：' + err)
                })
            },
            handleQuery() {
                this.page = 1;
                this.init();
            },
            clearQuery(){
                this.page = 1;
                this.classData.facilitiesId='';
                this.input='',
                this.init();
            },
            // 添加
            addClass(st) {
                this.classData.title = '新增农作物';
                this.action = 'add';

                this.classData.id = '';
                this.classData.facilitiesName = '';
                this.classData.name = '';
                this.classData.yield = '';
                this.classData.area = '';


                this.classData.dialogVisible = true

            },


            selectFacilitiesFun(){
                selectFacilitiesOptions().then(res => {
                    console.log(res.data)
                    const resData=res.data
                    if (String(res.code) === '1') {
                        this.facilitiesOptions=[]
                        for(var i=0;i <resData.length;i++){
                            this.facilitiesOptions.push({"value":resData[i].value,"label":resData[i].label})
                        }
                    } else {
                        this.$message.error(res.msg || '操作失败')
                    }
                }).catch(err => {
                    this.$message.error('请求出错了：' + err)
                })
            },
            getFacilitiesOptionsValue(e){
                this.classData.facilitiesName=e;
            },





            //修改
            editHandle(dat) {
                console.log(dat)
                //赋值
                this.classData.title = '修改设施';
                this.action = 'edit';
                this.classData.id = dat.id;
                this.classData.facilitiesName = dat.facilitiesName;
                this.classData.name = dat.name;
                this.classData.yield = dat.yield;
                this.classData.area = dat.area;



                this.classData.dialogVisible = true;//打开修改框
            },
            // 关闭弹窗
            handleClose(st) {
                this.classData.dialogVisible = false
            },
            //删除
            deleteHandle(id) {
                this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                    'confirmButtonText': '确定',
                    'cancelButtonText': '取消',
                    'type': 'warning'
                }).then(() => {
                    deleteCrop(id).then(res => {
                        if (res.code === 1) {
                            this.$message.success('删除成功！');
                            this.handleQuery()
                        } else {
                            this.$message.error(res.msg || '操作失败')
                        }
                    }).catch(err => {
                        this.$message.error('请求出错了：' + err)
                    })
                })
            },
            //数据提交
            submitForm(st) {
                const classData = this.classData;

                if (this.action === 'add') {

                            addCrop(classData).then(res => {
                                if (res.code === 1) {
                                    this.$message.success('添加成功！')
                                    if (!st) {
                                        this.classData.dialogVisible = false
                                    } else {
                                        this.classData = {};
                                    }
                                    this.handleQuery()
                                } else {
                                    this.$message.error(res.msg || '操作失败')
                                }
                            }).catch(err => {
                                this.$message.error('请求出错了：' + err)
                            })

                } else if (this.action === 'edit') {
                    editCrop(classData).then(res => {
                        if (res.code === 1) {
                                this.$message.success('修改成功！');
                                this.classData.dialogVisible = false;
                                this.handleQuery()
                            } else {
                                this.$message.error(res.msg || '操作失败')
                            }
                        }).catch(err => {
                            this.$message.error('请求出错了：' + err)
                        })

                } else {
                    this.$message.error('请输入名称')
                }
            },
            // 全部操作
            handleSelectionChange(val) {
                let checkArr = []
                val.forEach((n) => {
                    checkArr.push(n.id)
                })
                this.checkList = checkArr
            },
            handleSizeChange(val) {
                this.pageSize = val
                this.init()
            },
            handleCurrentChange(val) {
                this.page = val
                this.init()
            }
        },
        created() {
            this.init()
        },

    })
</script>
</body>
</html>