<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxl.agro.mapper.SmartDeviceTypeMapper">


    <!--根据角色id查询具备的权限-->
    <select id="selectOptions" resultType="com.lxl.agro.vo.OptionVo" >

        select id value ,type_name label from sa_agro_smartdevice_type

    </select>




</mapper>
